.error-indicator {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.error-indicator span {
    font-size: 20px;
    font-weight: bold;
    color: rgb(179, 149, 86);
}